<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>KRA Income Tax Deduction Card 2019</title>
    <style type="text/css">
        body {
            font-family: Arial, sans-serif;
            font-size: 11px;
            margin: 2px;
        }

        h2, h3 {
            text-align: center;
            margin: 0;
            padding: 0;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }

        th, td {
            border: 1px solid #000000;
            padding: 4px;
            text-align: right;
            font-weight: normal;
        }

        th {
            text-align: start;
        }

        th[colspan], td[colspan] {
            text-align: start;
        }

        .info-table {
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .info-table td {
            border: none;
            padding: 3px 5px;
            text-align: left;
        }

        .footer {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<h2>KENYA REVENUE AUTHORITY</h2>
<h3>INCOME TAX DEPARTMENT<br />INCOME TAX DEDUCTION CARD YEAR 2019</h3>

<table class="info-table">
    <tr>
        <td>Employer's Name: ACME Group Ltd</td>
        <td>Employer's P.I.N.: P05163355A</td>
    </tr>
    <tr>
        <td>Employee's Main Name: Muli</td>
        <td>Employee's P.I.N.: A004010560Y</td>
    </tr>
    <tr>
        <td>Employee's Other Names: Carol</td>
    </tr>
</table>

<table>
    <thead>
    <tr>
        <th rowspan="2">MONTH</th>
        <th rowspan="2">Basic Salary<br />Kshs.</th>
        <th rowspan="2">Benefits<br />-Non Cash<br />Kshs.</th>
        <th rowspan="2">Value of Quarters<br />Kshs.</th>
        <th rowspan="2">Total Gross Pay<br />Kshs.</th>
        <th colspan="3">Defined Contribution Retirement Scheme<br />Kshs.</th>
        <th rowspan="2">Owner-Occupied Interest<br />Amount of Interest</th>
        <th rowspan="2">Retirement Contribution &amp; Owner Occupied Interest<br />The lowest of E added to F</th>
        <th rowspan="2">Chargeable Pay<br />Kshs.</th>
        <th rowspan="2">Tax Charged<br />Kshs.</th>
        <th rowspan="2">Personal Relief<br />Kshs.</th>
        <th rowspan="2">Insurance Relief<br />Kshs.</th>
        <th rowspan="2">P.A.Y.E Tax<br />Kshs.</th>
    </tr>
    <tr>
        <th>E1<br />30% of A</th>
        <th>E2<br />Actual</th>
        <th>E3<br />Fixed</th>
    </tr>
    </thead>
    <tbody>
    <!-- Monthly rows inserted here -->
    <tr><td style="text-align: start;">FEBRUARY</td><td>160,000.00</td><td>0.00</td><td>0.00</td><td>160,000.00</td><td>48,000.00</td><td>200.00</td><td>20,000.00</td><td>200.00</td><td>200.00</td><td>159,800.00</td><td>42,004.00</td><td>1,408.00</td><td>0.00</td><td>40,596.00</td></tr>
    <tr><td style="text-align: start;">MARCH</td><td>160,000.00</td><td>0.00</td><td>0.00</td><td>160,000.00</td><td>48,000.00</td><td>200.00</td><td>20,000.00</td><td>200.00</td><td>200.00</td><td>159,800.00</td><td>42,004.00</td><td>1,408.00</td><td>0.00</td><td>40,596.00</td></tr>
    <tr><td style="text-align: start;">APRIL</td><td>160,000.00</td><td>0.00</td><td>0.00</td><td>160,000.00</td><td>48,000.00</td><td>200.00</td><td>20,000.00</td><td>200.00</td><td>200.00</td><td>159,800.00</td><td>42,004.00</td><td>1,408.00</td><td>0.00</td><td>40,596.00</td></tr>
    <tr><td style="text-align: start;">MAY</td><td>160,000.00</td><td>0.00</td><td>0.00</td><td>160,000.00</td><td>48,000.00</td><td>200.00</td><td>20,000.00</td><td>200.00</td><td>200.00</td><td>159,800.00</td><td>42,004.00</td><td>1,408.00</td><td>0.00</td><td>40,596.00</td></tr>
    <tr><td style="text-align: start;">JUNE</td><td>160,000.00</td><td>0.00</td><td>0.00</td><td>160,000.00</td><td>48,000.00</td><td>200.00</td><td>20,000.00</td><td>200.00</td><td>200.00</td><td>159,800.00</td><td>42,004.00</td><td>1,408.00</td><td>0.00</td><td>40,596.00</td></tr>
    <tr><td style="text-align: start;">JULY</td><td>160,000.00</td><td>0.00</td><td>0.00</td><td>160,000.00</td><td>48,000.00</td><td>200.00</td><td>20,000.00</td><td>200.00</td><td>200.00</td><td>159,800.00</td><td>42,004.00</td><td>1,408.00</td><td>0.00</td><td>40,596.00</td></tr>
    <tr><td style="text-align: start;">AUGUST</td><td>160,000.00</td><td>0.00</td><td>0.00</td><td>160,000.00</td><td>48,000.00</td><td>200.00</td><td>20,000.00</td><td>200.00</td><td>200.00</td><td>159,800.00</td><td>42,004.00</td><td>1,408.00</td><td>0.00</td><td>40,596.00</td></tr>
    <tr><td style="text-align: start;">SEPTEMBER</td><td>160,000.00</td><td>0.00</td><td>0.00</td><td>160,000.00</td><td>48,000.00</td><td>200.00</td><td>20,000.00</td><td>200.00</td><td>200.00</td><td>159,800.00</td><td>42,004.00</td><td>1,408.00</td><td>0.00</td><td>40,596.00</td></tr>
    <tr><td style="text-align: start;">OCTOBER</td><td>160,000.00</td><td>0.00</td><td>0.00</td><td>160,000.00</td><td>48,000.00</td><td>200.00</td><td>20,000.00</td><td>200.00</td><td>200.00</td><td>159,800.00</td><td>42,004.00</td><td>1,408.00</td><td>0.00</td><td>40,596.00</td></tr>
    <tr><td style="text-align: start;">NOVEMBER</td><td>160,000.00</td><td>0.00</td><td>0.00</td><td>160,000.00</td><td>48,000.00</td><td>200.00</td><td>20,000.00</td><td>200.00</td><td>200.00</td><td>159,800.00</td><td>42,004.00</td><td>1,408.00</td><td>0.00</td><td>40,596.00</td></tr>
    <tr><td style="text-align: start;">DECEMBER</td><td>160,000.00</td><td>0.00</td><td>0.00</td><td>160,000.00</td><td>48,000.00</td><td>200.00</td><td>20,000.00</td><td>200.00</td><td>200.00</td><td>159,800.00</td><td>30,375.00</td><td>1,408.00</td><td>0.00</td><td>28,967.00</td></tr>
    <!-- TOTAL -->
    <tr>
        <td>TOTAL</td>
        <td>1,440,000.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>1,440,000.00</td>
        <td>432,000.00</td>
        <td>2,400.00</td>
        <td>180,000.00</td>
        <td>2,400.00</td>
        <td>2,400.00</td>
        <td>1,438,200.00</td>
        <td>383,964.00</td>
        <td>12,672.00</td>
        <td>0.00</td>
        <td>363,364.00</td>
    </tr>
    </tbody>
</table>

<p class="footer">
    To be completed by Employer at end of year<br />
    TOTAL CHARGEABLE PAY (COL H): Kshs. 1,438,200.00<br />
    TOTAL TAX (COL L): Kshs. 363,364.00
</p>

</body>
</html>
